---
import Category from "./Category.astro";

interface Item {
  src: string;
  alt: string;
  title: string;
  slug: string;
}
interface Props {
  data: Item[];
  title: string;
  subtitle: string;
}

const { data, title, subtitle } = Astro.props;

const chunk = (arr: any[], cols: number): any[][] => {
  const newArray: any[][] = Array.from({ length: cols }, () => []);
  arr.forEach((item, index) => {
    newArray[index % cols].push(item);
  });

  return newArray;
};

const cols3 = chunk(data, 3);
const cols2 = chunk(data, 2);
---

<section class="mx-0 w-full max-w-[85rem] px-4 py-8 md:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto">
    <h2
      class="mb-4 mt-4 text-balance text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl"
    >
      {title}
    </h2>
    <p class="mb-8 ps-4 text-neutral-700 dark:text-neutral-400 lg:w-4/5">
      {subtitle}
    </p>
    <div class="mx-auto grid grid-cols-1 sm:grid-cols-2 gap-2 px-4 lg:grid-cols-3 ">
      {
        cols3.map((col: any[]) => (
          <div class="hidden space-y-2 lg:block">
            {col.map((item: Item) => (
              <Category data={item} />
            ))}
          </div>
        ))
      }
      {
        cols2.map((col: any[]) => (
          <div class="space-y-2 hidden sm:block lg:hidden">
            {col.map((item: Item) => (
              <Category data={item} />
            ))}
          </div>
        ))
      }
      <div class="sm:hidden space-y-2">
        {data.map((item: Item) => <Category data={item} />)}
      </div>
    </div>
  </div>
</section>
