---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";
import { sanityClient } from "sanity:client";
import { urlForImage } from "@/sanity/lib/urlForImage";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id
);

const categoryQuery = `*[_type == "categoria"] {
  _id,
  nombre,
  imagen,
  slug,
  descripcion,
}`;
const categoriesResult = await sanityClient.fetch(categoryQuery);
interface productCategory {
  _id: string;
  nombre: string;
  imagen: string;
  slug: string;
  description: string;
}

const categories: productCategory[] = categoriesResult.map((category: any) => {
  return {
    _id: category._id,
    nombre: category.nombre,
    imagen: urlForImage(category.imagen).url(),
    slug: category.slug.current,
    description: category.descripcion,
  };
});

// Define variables for page content
const title: string = "Productos";
const subTitle: string =
  "Explora la durabilidad y precisión de los productos de Famago, diseñados tanto para profesionales como para entusiastas. Cada uno de nuestros muebles está fabricado con precisión y construido para durar, asegurando que tengas el mueble adecuado para cada espacio.";

const pageTitle: string = `Productos | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://famago.cl/productos",
    url: "https://famago.cl/productos",
    name: "Productos | Famago",
    description:
      "Descubre la calidad y artesanía de los muebles estilo industriales de Famago, diseñados tanto para espacios comerciales como residenciales.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://famago.cl",
      name: "Famago",
      description:
        "Famago ofrece muebles de diseño industrial de alta calidad, ideales para el hogar y espacios comerciales. Descubre nuestra colección de mesas, sillas, estanterías y más.",
    },
    inLanguage: "es-CL",
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
    </div>
  
    <section class="grid grid-cols-1 gap-4 md:grid-cols-3 sm:grid-cols-2 md:gap-6 xl:gap-8">
      {
        categories.map((product, index) => {
          return <CardSmall product={product} />;
        })
      }
    </section>
  </div>
  {
    /*
  <!--Testimonials section-->
  <TestimonialsSectionAlt
  title="What Our Customers Say"
  testimonials={testimonials}
  />
   */
  }
</MainLayout>
