---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";

import featureImage from "@images/features-image.avif";
import Categories from "@/components/sections/categories/Categories.astro";


import { sanityClient } from "sanity:client";
import {urlForImage} from "../sanity/lib/urlForImage"



interface Item {
  src: string;
  alt: string;
  title: string;
  slug: string;
}

//TODO: this into sanity
const carouselAlt = [
  "Carousel Image 1",
  "Carousel Image 2",
  "Carousel Image 3",
];


const categoryQuery = `*[_type == "categoria"] {
  _id,
  nombre,
  imagen,
  slug,
  description,
}`;

const landingQuery = `*[_type == "landingPage"] {
  gallery
}[0]`;


const categories = await sanityClient.fetch(categoryQuery);
const landingData = await sanityClient.fetch(landingQuery);

const landingImages = landingData.gallery.map((image: any) => {
  return urlForImage(image).url();
});



const categoryData: Item[] = categories.map((category: any) => {
  return {
    src: urlForImage(category.imagen).url(),
    alt: category.nombre,
    title: category.nombre,
    slug: category.slug.current,
  };
});
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Háblanos de tu proyecto"
    url="AQUI PONER LINK DE WASA"
  />
  <HeroSection
    title={`Dale un toque único a tus espacios con <span class="text-yellow-500 dark:text-yellow-400">Famago</span>`}
    subTitle="Muebles de diseño industrial de alta calidad, ideales para el hogar y la oficina, fabricados con orgullo en Chile."
    primaryBtn="Explorar Productos"
    primaryBtnURL="/productos"
    secondaryBtn="Contactactanos"
    secondaryBtnURL="/contacto"
    src={landingImages}
    alt={carouselAlt}
  />
  <Categories data={categoryData} />
  <FeaturesGeneral data={features} />

  <FAQ faqs={faqs} />
</MainLayout>
