---
import { Icons } from "./icons.ts";


interface Path {
  d: string;
  class?: string;
}

const { name } = Astro.props;

let icon = (Icons as any)[name] || {};

let paths: Path[] = icon.paths || [];
---

{
  name === "chile" ? (
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="60"
      width="90"
      viewBox="0 0 30 24"
    >
      <path fill="#c73a29" d="M30 24H0V12h30z" />
      <path fill="#fff" d="M30 12H0V0h30z" />
      <path fill="#1435a1" d="M0 0h12v12H0z" />
      <path
        fill="#fff"
        d="M7.15 6.67 9 5.33H6.7L6 3.15l-.7 2.18H3l1.85 1.34-.7 2.18L6 7.51l1.86 1.34z"
      />
    </svg>
  ) : icon ? (
    <svg
      class={icon.class}
      height={icon.height}
      viewBox={icon.viewBox}
      width={icon.width}
      fill={icon.fill}
      clip-rule={icon.clipRule}
      fill-rule={icon.fillRule}
      stroke={icon.stroke}
      stroke-width={icon.strokeWidth}
      stroke-linecap={icon.strokeLinecap}
      stroke-linejoin={icon.strokeLinejoin}
    >
      <title>{icon.title}</title>
      {paths.map((path: Path) => (
        <path d={path.d} class={path.class || ""} />
      ))}
    </svg>
  ) : (
    "Icon not found"
  )
}
