---
import { Icons } from "./icons.ts";
import Chile from "./Chile.astro";

interface Path {
  d: string;
  class?: string;
}

const { name } = Astro.props;

let icon = (Icons as any)[name] || {};

let paths: Path[] = icon.paths || [];
---

{
  name === "chile" ? (
    <img
      src="https://raw.githubusercontent.com/tabler/tabler-flags/b9b6b2c8b33900c13033c01cf8440aadc9a9b276/flags/chile.svg"
      alt="Chile"
      class="h-6 w-6"
    />
  ) : icon ? (
    <svg
      class={icon.class}
      height={icon.height}
      viewBox={icon.viewBox}
      width={icon.width}
      fill={icon.fill}
      clip-rule={icon.clipRule}
      fill-rule={icon.fillRule}
      stroke={icon.stroke}
      stroke-width={icon.strokeWidth}
      stroke-linecap={icon.strokeLinecap}
      stroke-linejoin={icon.strokeLinejoin}
    >
      <title>{icon.title}</title>
      {paths.map((path: Path) => (
        <path d={path.d} class={path.class || ""} />
      ))}
    </svg>
  ) : (
    "Icon not found"
  )
}
